.basket{
    @include flex (start, center);
    padding: 32px 20px 64px 20px;
    @media screen and (max-width:1030px){
        flex-direction: column;
        padding: 0;
    }
    &__items-icon{
        display: none;
        @media screen and (max-width:1200px){
            display: block;
        }
    }
    &__items-text{
        @media screen and (max-width:1200px){
            display:none;
        }
    }
    &__left{
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 20px;
        @media screen and (max-width:1030px){
        width: 100%;
        }
    }
    &__data{
        border: 1px solid #e8e8e8;
        border-radius: 12px;
        padding: 24px;
        width: 97%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width:1030px){
            width: 100%;
            border: none;
            border-bottom: 1px solid #e8e8e8;
            border-radius: 0;
        }
    }
    &__data-title{
        color: #818181;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 8px;
    }
    &__data-input{
        border: 2px solid #111;
        border-radius: 12px;
        color: #111;
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        min-height: 48px;
        padding: 10px 14px;
        transition: .3s cubic-bezier(.4,0,.2,1);
        width: 490px;
        @media screen and (max-width:1590px){
            min-width: none;
            width: 480px;
        }
        @media screen and (max-width:1580px){
            min-width: none;
            width: 470px;
        }
        @media screen and (max-width:1525px){
            min-width: none;
            width: 460px;
        }
        @media screen and (max-width:1525px){
            min-width: none;
            width: 450px;
        }
        @media screen and (max-width:1465px){
            min-width: none;
            width: 430px;
        }
        @media screen and (max-width:1410px){
            min-width: none;
            width: 400px;
        }
        @media screen and (max-width:1325px){
            min-width: none;
            width: 380px;
        }
        @media screen and (max-width:1260px){
            min-width: none;
            width: 360px;
        }
        @media screen and (max-width:1260px){
            min-width: none;
            width: 340px;
        }
        @media screen and (max-width:1210px){
            min-width: none;
            width: 330px;
        }
        @media screen and (max-width:1100px){
            min-width: none;
            width: 300px;
        }
        @media screen and (max-width:1030px){
            width: 450px;
        }
        @media screen and (max-width:1010px){
            width: 430px;
        }
        @media screen and (max-width:960px){
            width: 400px;
        }
        @media screen and (max-width:960px){
            width: 380px;
        }
        @media screen and (max-width:860px){
            width: 340px;
        }
        @media screen and (max-width:800px){
            width: 320px;
        }
        @media screen and (max-width:768px){
            width: 300px;
        }
        @media screen and (max-width:710px){
            width: 280px;
        }
        @media screen and (max-width:680px){
            width: 260px;
        }
        @media screen and (max-width:630px){
            width: 235px;
        }
        @media screen and (max-width:600px){
            width: 225px;
        }
        @media screen and (max-width:580px){
            width: 460px;
        }
        @media screen and (max-width:530px){
            width: 420px;
        }
        @media screen and (max-width:500px){
            width: 360px;
        }
        @media screen and (max-width:455px){
            width: 330px;
        }
        @media screen and (max-width:420px){
            width: 280px;
        }
        @media screen and (max-width:370px){
            width: 260px;
        }
    }
    &__data-div{
        // width: 100%;
        gap: 24px;
        @include flex(center, center);
        @media screen and (max-width:580px){
            flex-direction: column;
        }
    }
    &__items-product{
        display: flex;
        align-items: center;
        @media screen and (max-width:1200px){
            position: relative;
        }
    }
    &__items-img{
        max-width: 100px;
        max-height: 100px;
        object-fit: cover;
    }
    &__items-div{
        border: 1px solid #e8e8e8;
        border-radius: 12px;
        padding: 24px;
        width: 97%;
        @media screen and (max-width:1030px){
            width: 100%;
            border: none;
            border-bottom: 1px solid #e8e8e8;
            border-radius: 0;
        }
    }
    &__items-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @media screen and (max-width:1200px){
            height: 230px;
            align-items: unset;
            position: relative;
            flex-direction: column;
        }
    }
    &__items-item:not(:last-child){
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 16px;
        padding-bottom: 16px;
        width: 100%;
    }
    &__items-title{
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 8px;
        @media screen and (max-width:1200px){
            font-size: 14px;
        }
    }
    &__items-header{
        color: #111;
        font-size: 42px;
        font-weight: 600;
        line-height: 49px;
        align-items: center;
        display: flex;
        gap: 24px;
        justify-content: space-between;
        margin-bottom: 32px;
        @media screen and (max-width:1030px){
            font-size: 24px;
            line-height: 1.2;
        }
    }
    &__items-subtitle{
        color: #999;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 16px;
    }
    &__items-buttons{
        @media screen and (max-width:1200px){
            position: absolute;
            bottom: -145%;
            right: 0%;
        }
        @media screen and (max-width:515px){
            bottom: -135%;
        }
        @media screen and (max-width:375px){
            bottom: -140%;
        }
        @media screen and (max-width:350px){
            bottom: -135%;
        }
        @media screen and (max-width:330px){
            bottom: -130%;
        }
        @media screen and (max-width:300px){
            bottom: -133%;
        }
    }
    &__items-button{
        color: #2b71f8;
        display: inline-block;
        position: relative;
        transition: .3s cubic-bezier(.4,0,.2,1);
        padding: 0 10px 0  0;
    }
    &__items-count{
        display: flex;
        align-items: center;
        gap: 34px;
    }
    &__items-quantity{
        border: 2px solid #111;
        border-radius: 8px;
        color: #111;
        font-size: 16px;
        font-weight: 500;
        height: 40px;
        line-height: 24px;
        text-align: center;
        width: 100%;
        @include flex (center,center);
        min-width: 120px;
        @media screen and (max-width:1200px){
            max-width: 120px;
            position: absolute;
            right: 15%;
            bottom: 7%;
        }
        @media screen and (max-width:675px){
            right: 20%;
        }
        @media screen and (max-width:515px){
            right: 30%;
        }
        @media screen and (max-width:370px){
            right: 40%;
        }
    }
    &__items-prices{
        min-width: 163px;
        @media screen and (max-width:1200px){
            position: absolute;
            top: 25%;
            left:15%;
        }
        @media screen and (max-width:1100px){
            position: absolute;
            top: 25%;
            left:17%;
        }
        @media screen and (max-width:1020px){
            position: absolute;
            top: 25%;
            left:13%;
        }
        @media screen and (max-width:870px){
            position: absolute;
            top: 25%;
            left:15%;
        }
        @media screen and (max-width:768px){
            position: absolute;
            top: 25%;
            left:17%;
        }
        @media screen and (max-width:670px){
            position: absolute;
            top: 25%;
            left:22%;
        }
        @media screen and (max-width:535px){
            position: absolute;
            top: 31%;
            left:25%;
        }
        @media screen and (max-width:485px){
            position: absolute;
            top: 31%;
            left:29%;
        }
        @media screen and (max-width:485px){
            position: absolute;
            top: 34%;
            left:35%;
        }
        @media screen and (max-width:375px){
            position: absolute;
            top: 41%;
            left:39%;
        }
    }
    &__items-price{
        color: #da002b;
        font-size: 18px;
        @media screen and (max-width:1200px){
            font-size: 14px;
        }
    }
    &__items-discount{
        font-feature-settings: "pnum" on,"lnum" on;
        color: #999;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 0;
        order: 2;
        text-decoration-line: line-through;
    }

    .border{
        border-left: 1px solid #e8e8e8;
        padding-left: 8px;
        @media screen and (max-width: 1200px){
            border: none;
        }
    }



    &__right{
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media screen and (max-width:1030px){
            width: 100%;
        }
    }
    &__side-menu{
        border: 1px solid #e8e8e8;
        border-radius: 12px;
        padding: 24px;
        width: 100%;
        @media screen and (max-width:1030px){
            border: none;
            border-bottom: 1px solid #e8e8e8;
            border-radius: 0;
        }
    }
    &__price-div{
        @include flex(unset,space-between);
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 32px;
        margin-bottom: 16px;
    }
    &__price-div-body{
        width: 70px;
    }
    &__discount{
        color: #12bf6c;
        position: absolute;
    }
    &__price-name{
    color: #111;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    width: 70px;
    }
    &__price-num{
        color: #111;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-right: 0;
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: unset;
        gap: 12px;
    }

    &__form{
        @include flex(center,center);
        background-color: #fff;
        border: 2px solid #111;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    &__input{
        border: none;
        flex: 1;
        height: 52px;
        padding: 12px;
        width: inherit;
    }
    &__input:focus{
        outline: none;
        border: none;
        border-radius: 9px 0 0 9px  ;
    }

    &__button{
        align-items: center;
    background-color: #da002b;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    height: 52px;
    justify-content: center;
    line-height: 24px;
    min-width: 70px;
    padding: 14px 16px;
    transition: .3s cubic-bezier(.4,0,.2,1);
    width: auto;
    }
    &__texts{
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-weight: 700;
        text-align: left;
        .texts__div{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .texts__num{
    color: #111;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    max-width: 50%;
    text-align: right;
        }
    }

    &__line{
        border: 0.5px solid #e8e8e8 ;
    }

    &__avtorization{
        color: #da002b;
    }

    &__button-xl{
        background: #da002b;
        border-color: #da002b;
        color: #fff;
        min-height: 56px;
        border: 2px solid #da002b;
        padding: 10px 17px;
        border-radius: 12px;
        width: 100%;
        font-size: 16px;
        transition: all 200ms ease-in-out;
        margin: 16px 0;
    }
    &__button-xl:hover{
        background: rgba(235,21,55,.05);
    color: #da002b;
    }
    &__agree{
        color: #999;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
    }
    &__link{
        color: #2b71f8;
        transition: .3s cubic-bezier(.4,0,.2,1);
    }
    &__link:hover{
        color: #6195fd;
    }
    &__small-menu{
        border: 1px solid #e8e8e8;
        border-radius: 12px;
        padding: 24px;
        width: 100%;
        @media screen and (max-width:1030px){
            width: 100%;
            border: none;
            border-bottom: 1px solid #e8e8e8;
            border-radius: 0;
        }
    }
}
