.cloth_first{
  display: flex;
  flex-direction: column;
  @include wihe(288px, 400px);
  &_image{
    display: flex;
    &_discount{


      &_title{
        background-color: #DA002B;
        color: #fff;
        padding: 5px;
        border-radius: 8px;
      }
    }
    &_image{
      &_image{
        @include wihe(200px,250px)
      }
    }
    &_icons{
      display: flex;
      flex-direction: column;
      &_heart{
        margin-bottom: 20px;
      }
    }
  }
  &_texts{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    &_title{
      color: #111;
      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      width: 80%;
    }
    &_lastpayment{
      color: #999;
      font-family: Raleway;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      text-decoration-line: strikethrough;
      text-decoration: line-through;
    }
    &_payment{
      color: #DA002B;
      font-family: Raleway;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      margin-top: 5px;
    }
    &_credit{
      color: #111;
      font-family: Raleway;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      margin-top: 8px;
      &_title{
        padding: 3px 8px;
        background-color: #FFD740;
        border-radius: 6px;
      }
    }
  }
  &_buttons{
    display: flex;
    margin-top: auto;
    @include flex(center, unset);
    &_magazine{
      @include flex(center, center);
      @include wihe(unset, 36px);
      padding: 10px;
      border-radius: 8px;
      border: 2px solid #111;
      margin-right: 10px
    }
    &_book{
      @include flex(center, center);
      @include wihe(unset, 36px);
      font-size: 14px;
      line-height: 20px;
      padding: 10px 55.4px 10px 55.6px;
      border-radius: 8px;
      border: 2px solid #DA002B;
      color: #DA002B;
    }
  }

  &_row{
    @include flex(unset, unset);
    width: 100%;
    flex-wrap: wrap;
    gap: 26px;
    margin: 0;

  }
}

.cloth{
  &__content{
    @include wihe(100%, unset)
  }
}
