.header {
    position: relative;
    &__wrapper {
        @include flex(center, space-between);
        margin-top: 32px;


        @include media(1025){
            flex-direction: column;
        }
    }


    &__navigation{
        display: none;



        @include media(1025){
            @include flex(center, space-between);
            background-color: #fff;
            bottom: 0;
            box-shadow: 0 -4px 8px #0000000f;
            // flex: 1;
            height: 68px;
            left: 0;
            padding: 8px 10px;
            position: fixed;
            width: 100%;
            z-index: 1000;
        }



        &__buttons{
            width: 90%;
            @include flex(center,space-between);
            position: fixed;
            bottom: 0;
        }


        &__button{
            
            @include flex(center,center);
            flex-direction: column;



            &__text{
                color: #111;
                font-size: 11px;
                line-height: 1.45;
            }
        }
    }

    &__info{
        @include flex(center,center);
        width: 100%;
       
    }

    &__logo{
        margin-right: 32px;
        @include flex(center,space-between);
        width: 100%;



        &__icon{
            display: none;


            @include media(1025){
                display: block;
            }
        }


        @include media(1025){
            margin-bottom: 40px;
        }
    }

    &__dropdown{
        position: relative;

       &.close{
        display: none;
       }

        &.open{
            width: 100%;
            height: 945px;
            box-shadow: 0 10px 16px #0000001a;
            z-index: 1000;
            overflow: hidden;
            opacity: 1;
            visibility: visible;
            display: block;
        }

        &__link{
            @include flex(center,space-between);
            color: #111;
            font-family: Raleway, sans-serif;
            font-size: 16px;
            padding: 12px 16px;


            &__icon{
                display: none;
                padding-right: 35px;


                @include media(1025){
                    display: block;
                }
            }


            &:hover{
                color: #da002b;
                background-color: #f2f2f2;
                border-radius: 8px
            }

            @include media(1025){
                border-bottom: 1px solid #00000024;
                padding: 12px 0px;


            }
        }

        &__content{
            @include flex(start,start);
            padding-top: 25px;


            @include media(1025){
                top: 0;
                z-index: 100;
                

            }
        }

        &__info{
            width: 78%;
            height: 945px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            padding-bottom: 40px;
            flex: 1;


            @include media(1025){
                display: none;
            }

        }

        &__nav{
            display: flex;
            flex-direction: column;
            width: 22%;
            overflow-y: scroll;
            height: 945px;
            padding-right: 15px;

            @include media(1025){
                width: 100%;
                padding-right: 0;

            }


            &__title{
                @include flex(center,space-between);
                z-index: 10;
            }


            &_text{
                display: none;


                @include media(1025){
                    display: block;
                    font-family: Raleway,sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                    color: #111;
                }




            }

            &_icon{
                display: none;
                margin-right: 15px;


                @include media(1025){
                    @include flex(center,center);
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background-color: #f2f2f2;
                }
            }
          

        }

    }


    .header-catalog {
        @include flex(center,center);
        border: 2px solid #000;
        width: 163px;
        height: 48px;
        border-radius: 12px;
        color: #c71717;
        transition: all 0.2s ease-in-out;
        margin-right: 32px;
        flex-shrink: 0;



        @include media(1025){
            width: 45px;
            height: 45px;
            margin-left: 50px;
            margin-right: 10px;
            
        }



        &:hover{
            border: 2px solid #da002b;
        }

        & span{
            transition: all 0.2s ease-in-out;
            
        }

        &:hover span{
            color: #da002b;

        }

        & svg rect{
            transition: all 0.2s ease-in-out;
        }
     


        &:hover svg rect{
            fill: #da002b;

        }

        & svg path{
            transition: all 0.2s ease-in-out;


        }

        &:hover svg path{
            stroke: #da002b;

        }

        &__button {
            @include flex();
            gap: 20px;

        }

        &__title{
            font-size: 18px;
            font-weight: 500;


            @include media(1025){
                display: none;
            }
        }

     

     
    }

    .header-search {
        @include flex(center,center);
        position: relative;
        margin-right: 32px;
        width: 100%;


      



        &__input {
            padding: 18px 24px 18px 24px;
            width: 780px;
            height: 48px;
            background: #F2F2F2;
            border-radius: 12px;
            outline: none;
            transition: all 0.2s ease-in-out;
            @include adaptive-value('width', 780, -700);


            &:focus{
                box-shadow: 0 0 0 9999px #00000080;
            }


            
            @include media(1025){
                @include adaptive-value('width', 1220, 200);

            }



        }

        &__button{
            @include flex(center,center);
            padding: 10px 24px;
            border-radius: 12px;
            background-color: #da002b;
            position: absolute;
            right: 0.5%;
            transition: all 0.2s ease-in-out;
            flex: 1 1 auto;

            @include media(1025){
                position: absolute;
                right: 100%;
                left: 0;
                background-color: transparent;
            }



            &:hover{
                padding: 11px 25px;

            }

        }
    }

    .header-buttons {
        @include flex(center, space-between);
        gap: 30px;

        @include media(1025){
            display: none;
        }

        &__item {
            @include flex;
            flex-direction: column;
        }
    }
}
