.modal{
    margin-top: 150px;    
    @media screen and (max-width: 450px){
        width: 100%;
        padding: 0 10px;
    }

    &-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.4);
        transition: all 0.2s ease-in-out;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
    }

    &-wrapper.show{
        opacity: 1;
        visibility: visible;
        z-index: 99999999999999;
        transition: all 0.2s ease-in-out;
    }

    &-content{
        padding: 17px 25px 30px 25px;
        background-color: #fff;
        border-radius: 8px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
       -webkit-appearance: none;
        margin: 0; 
    }
    
    input[type=number] {
        --moz-appearance: textfield; 

    }

    &-phone{
        outline: none;
        padding: 10px 20px;
        width: 100%;
        border-radius: 12px;
        font-family: sans-serif;
        font-size: 17px
    }

    &-region{
        @include flex(center, unset);
        border: 2px solid black;
        border-radius: 12px;
    }

    &-region__value{
        font-family: sans-serif;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        border-right: 1px solid #000;
        @include flex(center, unset);
        gap: 10px;
    }

    &-title{
        color: #111;
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
        padding-right: 35px;
        width: 350px;
        margin-bottom: 40px;

        @media screen and (max-width: 400px){
            font-size: 25px;
            width: 100%;
        }

        @media screen and (max-width: 330px){
            font-size: 20px;
            line-height: 27px;
        }
    }

    &-number{
        color: #828282;
        font-size: 16px;
        margin-bottom: 10px;
    }

    &-confirmation{
        margin-top: 100px;
        background-color: #da002b;
        border: 2px solid #da002b;
        color: white;
        padding: 13px 17px;
        width: 100%;
        border-radius: 12px;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        opacity: 0.5;
        cursor: no-drop;
    }

    // &-confirmation:hover{
    //     background-color: transparent;
    //     color: #da002b;
    // }


    &-close__icon{
        transform: scale(1.4);
    }

   &-close{
        @include flex(center, end)
   }
}