.swiper {
  width: 100%;
  height: 100%;

  &-body {
    width: 100%;
    height: 300px;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  }

  &-wrapper {
    // transform: none !important;
    transform: translate3d(0px, 0px, 0px);
   
  }

  &-slide {
    height: 300px;
    text-align: center;
  font-size: 18px;
  background: #000;

  
  display: flex;
  justify-content: center;
  align-items: center;
  }

  & img {
    display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

.append-buttons {
  text-align: center;
    margin-top: 20px;

    & button {
      display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
    }

}



